[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/perl-support.vim"]
	path = bundle/perl-support.vim
	url = https://github.com/vim-scripts/perl-support.vim
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/vim-scripts/tComment
[submodule "bundle/mru.vim"]
	path = bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim
[submodule "bundle/c.vim"]
	path = bundle/c.vim
	url = https://github.com/vim-scripts/c.vim
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bash-support.vim"]
	path = bash-support.vim
	url = https://github.com/vim-scripts/bash-support.vim
